doctype html
html(lang='en')
    head
        title README
    body
        p
            a(href='https://hw9db2.herokuapp.com/messenger')
                b Messenger
        h2
            b Sign in
        p
            a(href='https://hw9db2.herokuapp.com/sign_in')
                b Sign in
        p
            a(href='https://hw9db2.herokuapp.com/reset_mail')
                b Reset mail
        p
            a(href='https://hw9db2.herokuapp.com/reset')
                b Reset
        p
            a(href='https://hw9db2.herokuapp.com/verify')
                b Verify
        h2
            b Sign up
        p
            a(href='https://hw9db2.herokuapp.com/sign_up')
                b Sign up
        p
            a(href='https://hw9db2.herokuapp.com/sign_up_pass')
                b Sign up pass
        p
            a(href='https://hw9db2.herokuapp.com/verify_up')
                b Verify
        h2
            b Profile
        p
            a(href='https://hw9db2.herokuapp.com/profile')
                b Profile
        h2
            b Search
        p
            a(href='https://hw9db2.herokuapp.com/search')
                b Search
        h2
            b GIT REPA
        p
            a(href='https://github.com/olegboychuk099/HW3_DB2')
                b REPA
