<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title sign in
        link(rel="stylesheet" href="./style/verify_up.css")
    body
        header
            a(href='#')
                img(class="sign-logo" src='../img/sign_logo.svg', alt='logo')
            .goto
                p='Do not have an account? '
                a(href='./sign_up.html') Sign up
        main
            .content
                form
                    p(class="form__headline") Reset your password
                    input(type="password" class="form__input" placeholder="New password")
                    input(type="password" class="form__input" placeholder="Confirm password")
                    button(class="form__button") Reset