<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title sign up
        link(rel="stylesheet" href="./style/verify_up.css")
    body
        header
            a(href='#')
                img(class="sign-logo" src='../img/sign_logo.svg', alt='logo')
            .goto
                p='Already have an account? '
                a(href='./sign-in') Log In
        main
            .content
                form
                    p(class="form__headline") Log In
                    .form__user
                        input(type="text" class="form__input" placeholder="Name")
                        input(type="text" class="form__input" placeholder="Last name")
                    input(type="text" class="form__input" placeholder="E-mail")
                    input(type="password" class="form__input" placeholder="Password")
                    button(class="form__button") Get started