<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title sign in
        link(rel="stylesheet" href="./style/verify_up.css")
    body
        header
            a(href='#')
                img(class="sign-logo" src='../img/sign_logo.svg', alt='logo')
            .goto
                p='Already have an account? '
                a(href='./sign-in') Log In
        main
            img(class="ellipse" src='../img/Ellipse.svg')
            img(class="ellipse" src='../img/Ellipse-1.svg')
            img(class="ellipse" src='../img/Ellipse-2.svg')
            img(class="ellipse" src='../img/Ellipse-3.svg')
            img(class="ellipse mail" src='../img/mail.svg')
            p(class="ellipse verify_headline") You are almost ready to go!
            p(class="ellipse verify_help") Please check your email to reset your password