main
    include header
    .content
        form.filters
            .filters__filter
                p.filters__filter--text location
                img.filter__location(src="../img/location.svg")
                select.filter__select
                    option
            .filters__filter
                p.filters__filter--text category
                select.filter__select
                    option Category
            .filters__filter
                p.filters__filter--text subcategory
                select.filter__select
                    option Subcategory
            .filters__filter
                p.filters__filter--text service
                select.filter__select
                    option 3 services
            .filters__filter
                p.filters__filter--text period
                input.filter__select
            button.filters__button SEARCH
        .separator
        article.results
            .results__sort
                a.results__map(href="#") Show map
                .sort__items.list--active
                    .pretty.p-default.p-round.p-thick
                        input(type="radio" name="radio1" checked)
                        .state.p-success-o
                            label.items__text by price
                    .pretty.p-default.p-round.p-thick
                        input(type="radio" name="radio1")
                        .state.p-success-o
                            label.items__text by rating
            .results__list.list--active
                .list__item
                    img.item__photo(src="../img/richard.svg")
                    .item__info
                        a.item__name(href="#") Richard Thompson
                        .item__location
                            img.location__ico(src="../img/location.svg")
                            p.item__text Vancouver, Canada
                        .item__stack
                            .item__location
                                p.item__bold--text Stack:
                                p.item__text Python, Django, Sketch
                            a.item__more(href="#") More
                        .item__price
                            p.item__bold--text Base Daily Rate:
                            p.item__text $ 1,200 USD
                .list__item
                    img.item__photo(src="../img/richard.svg")
                    .item__info
                        a.item__name(href="#") Richard Thompson
                        .item__location
                            img.location__ico(src="../img/location.svg")
                            p.item__text Vancouver, Canada
                        .item__stack
                            .item__location
                                p.item__bold--text Stack:
                                p.item__text Python, Django, Sketch
                            a.item__more(href="#") More
                        .item__price
                            p.item__bold--text Base Daily Rate:
                            p.item__text $ 1,200 USD
                .list__item
                    img.item__photo(src="../img/richard.svg")
                    .item__info
                        a.item__name(href="#") Richard Thompson
                        .item__location
                            img.location__ico(src="../img/location.svg")
                            p.item__text Vancouver, Canada
                        .item__stack
                            .item__location
                                p.item__bold--text Stack:
                                p.item__text Python, Django, Sketch
                            a.item__more(href="#") More
                        .item__price
                            p.item__bold--text Base Daily Rate:
                            p.item__text $ 1,200 USD
                .list__item
                    img.item__photo(src="../img/richard.svg")
                    .item__info
                        a.item__name(href="#") Richard Thompson
                        .item__location
                            img.location__ico(src="../img/location.svg")
                            p.item__text Vancouver, Canada
                        .item__stack
                            .item__location
                                p.item__bold--text Stack:
                                p.item__text Python, Django, Sketch
                            a.item__more(href="#") More
                        .item__price
                            p.item__bold--text Base Daily Rate:
                            p.item__text $ 1,200 USD
                .list__item
                    img.item__photo(src="../img/richard.svg")
                    .item__info
                        a.item__name(href="#") Richard Thompson
                        .item__location
                            img.location__ico(src="../img/location.svg")
                            p.item__text Vancouver, Canada
                        .item__stack
                            .item__location
                                p.item__bold--text Stack:
                                p.item__text Python, Django, Sketch
                            a.item__more(href="#") More
                        .item__price
                            p.item__bold--text Base Daily Rate:
                            p.item__text $ 1,200 USD
                .list__item
                    img.item__photo(src="../img/richard.svg")
                    .item__info
                        a.item__name(href="#") Richard Thompson
                        .item__location
                            img.location__ico(src="../img/location.svg")
                            p.item__text Vancouver, Canada
                        .item__stack
                            .item__location
                                p.item__bold--text Stack:
                                p.item__text Python, Django, Sketch
                            a.item__more(href="#") More
                        .item__price
                            p.item__bold--text Base Daily Rate:
                            p.item__text $ 1,200 USD
                .list__item
                    img.item__photo(src="../img/richard.svg")
                    .item__info
                        a.item__name(href="#") Richard Thompson
                        .item__location
                            img.location__ico(src="../img/location.svg")
                            p.item__text Vancouver, Canada
                        .item__stack
                            .item__location
                                p.item__bold--text Stack:
                                p.item__text Python, Django, Sketch
                            a.item__more(href="#") More
                        .item__price
                            p.item__bold--text Base Daily Rate:
                            p.item__text $ 1,200 USD
                .list__item
                    img.item__photo(src="../img/richard.svg")
                    .item__info
                        a.item__name(href="#") Richard Thompson
                        .item__location
                            img.location__ico(src="../img/location.svg")
                            p.item__text Vancouver, Canada
                        .item__stack
                            .item__location
                                p.item__bold--text Stack:
                                p.item__text Python, Django, Sketch
                            a.item__more(href="#") More
                        .item__price
                            p.item__bold--text Base Daily Rate:
                            p.item__text $ 1,200 USD
                .list__item
                    img.item__photo(src="../img/richard.svg")
                    .item__info
                        a.item__name(href="#") Richard Thompson
                        .item__location
                            img.location__ico(src="../img/location.svg")
                            p.item__text Vancouver, Canada
                        .item__stack
                            .item__location
                                p.item__bold--text Stack:
                                p.item__text Python, Django, Sketch
                            a.item__more(href="#") More
                        .item__price
                            p.item__bold--text Base Daily Rate:
                            p.item__text $ 1,200 USD
                .list__item
                    img.item__photo(src="../img/richard.svg")
                    .item__info
                        a.item__name(href="#") Richard Thompson
                        .item__location
                            img.location__ico(src="../img/location.svg")
                            p.item__text Vancouver, Canada
                        .item__stack
                            .item__location
                                p.item__bold--text Stack:
                                p.item__text Python, Django, Sketch
                            a.item__more(href="#") More
                        .item__price
                            p.item__bold--text Base Daily Rate:
                            p.item__text $ 1,200 USD
                .list__item
                    img.item__photo(src="../img/richard.svg")
                    .item__info
                        a.item__name(href="#") Richard Thompson
                        .item__location
                            img.location__ico(src="../img/location.svg")
                            p.item__text Vancouver, Canada
                        .item__stack
                            .item__location
                                p.item__bold--text Stack:
                                p.item__text Python, Django, Sketch
                            a.item__more(href="#") More
                        .item__price
                            p.item__bold--text Base Daily Rate:
                            p.item__text $ 1,200 USD
                .list__item
                    img.item__photo(src="../img/richard.svg")
                    .item__info
                        a.item__name(href="#") Richard Thompson
                        .item__location
                            img.location__ico(src="../img/location.svg")
                            p.item__text Vancouver, Canada
                        .item__stack
                            .item__location
                                p.item__bold--text Stack:
                                p.item__text Python, Django, Sketch
                            a.item__more(href="#") More
                        .item__price
                            p.item__bold--text Base Daily Rate:
                            p.item__text $ 1,200 USD
            .map
script(type='text/javascript', src='./js/search.js')
script.
    function initMap() {
        var element = document.querySelector('.map');
        var options = {
            zoom: 5,
            center: {lat: 55.7558, lng: 37.6173},
            styles: [
                {
                    "featureType": "all",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "weight": "2.00"
                        }
                    ]
                },
                {
                    "featureType": "all",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#9c9c9c"
                        }
                    ]
                },
                {
                    "featureType": "all",
                    "elementType": "labels.text",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#f2f2f2"
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                },
                {
                    "featureType": "landscape.man_made",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "all",
                    "stylers": [
                        {
                            "saturation": -100
                        },
                        {
                            "lightness": 45
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#eeeeee"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#7b7b7b"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#46bcec"
                        },
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#c8d7d4"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#070707"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                }
            ],
        };
        var myMap = new google.maps.Map(element, options);
        var markers = [
            {
                coordinates: {lat: 55.751956, lng: 37.622634},
                info: '<h3>Москва</h3><br><img src="https://placehold.it/200x150"><br><p>Описание</p>'
            },
            {
                coordinates: {lat: 59.940208, lng: 30.328092},
                info: '<h3>Санкт-Петербург</h3><br> <img src="https://placehold.it/200x150"><br><p>Описание</p>'
            },
            {
                coordinates: {lat: 50.449973, lng: 30.524911},
                info: '<h3>Киев</h3><br><img src="https://placehold.it/200x150"><br><p>Описание</p>'
            }
        ];
        for (var i = 0; i < markers.length; i++) {
            addMarker(markers[i]);
        }

        function addMarker(properties) {
            var marker = new google.maps.Marker({
                position: properties.coordinates,
                map: myMap
            });
            if (properties.image) {
                marker.setIcon(properties.image);
            }
            if (properties.info) {
                var InfoWindow = new google.maps.InfoWindow({
                    content: properties.info
                });
                marker.addListener('click', function () {
                    InfoWindow.open(myMap, marker);
                });
            }
        }
    }
script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC2iFRtLlnjKtx8hfQ8FNKWKKVD1s5TK_s&callback=initMap')
