-const users = [{"photo":"../img/richard.svg","name":"Richard Thompson", "location":"Vancouver, Canada", "stack":"Python, Django, Sketch", "rate":"$ 1,200 USD"},{"photo":"../img/richard.svg","name":"Richard Thompson", "location":"Vancouver, Canada", "stack":"Python, Django, Sketch", "rate":"$ 1,200 USD"},{"photo":"../img/richard.svg","name":"Richard Thompson", "location":"Vancouver, Canada", "stack":"Python, Django, Sketch", "rate":"$ 1,200 USD"},{"photo":"../img/richard.svg","name":"Richard Thompson", "location":"Vancouver, Canada", "stack":"Python, Django, Sketch", "rate":"$ 1,200 USD"},{"photo":"../img/richard.svg","name":"Richard Thompson", "location":"Vancouver, Canada", "stack":"Python, Django, Sketch", "rate":"$ 1,200 USD"},{"photo":"../img/richard.svg","name":"Richard Thompson", "location":"Vancouver, Canada", "stack":"Python, Django, Sketch", "rate":"$ 1,200 USD"},{"photo":"../img/richard.svg","name":"Richard Thompson", "location":"Vancouver, Canada", "stack":"Python, Django, Sketch", "rate":"$ 1,200 USD"},{"photo":"../img/richard.svg","name":"Richard Thompson", "location":"Vancouver, Canada", "stack":"Python, Django, Sketch", "rate":"$ 1,200 USD"},{"photo":"../img/richard.svg","name":"Richard Thompson", "location":"Vancouver, Canada", "stack":"Python, Django, Sketch", "rate":"$ 1,200 USD"},{"photo":"../img/richard.svg","name":"Richard Thompson", "location":"Vancouver, Canada", "stack":"Python, Django, Sketch", "rate":"$ 1,200 USD"},{"photo":"../img/richard.svg","name":"Richard Thompson", "location":"Vancouver, Canada", "stack":"Python, Django, Sketch", "rate":"$ 1,200 USD"},{"photo":"../img/richard.svg","name":"Richard Thompson", "location":"Vancouver, Canada", "stack":"Python, Django, Sketch", "rate":"$ 1,200 USD"},{"photo":"../img/richard.svg","name":"Richard Thompson", "location":"Vancouver, Canada", "stack":"Python, Django, Sketch", "rate":"$ 1,200 USD"},{"photo":"../img/richard.svg","name":"Richard Thompson", "location":"Vancouver, Canada", "stack":"Python, Django, Sketch", "rate":"$ 1,200 USD"},{"photo":"../img/richard.svg","name":"Richard Thompson", "location":"Vancouver, Canada", "stack":"Python, Django, Sketch", "rate":"$ 1,200 USD"},{"photo":"../img/richard.svg","name":"Richard Thompson", "location":"Vancouver, Canada", "stack":"Python, Django, Sketch", "rate":"$ 1,200 USD"},{"photo":"../img/richard.svg","name":"Richard Thompson", "location":"Vancouver, Canada", "stack":"Python, Django, Sketch", "rate":"$ 1,200 USD"},{"photo":"../img/richard.svg","name":"Richard Thompson", "location":"Vancouver, Canada", "stack":"Python, Django, Sketch", "rate":"$ 1,200 USD"},{"photo":"../img/richard.svg","name":"Richard Thompson", "location":"Vancouver, Canada", "stack":"Python, Django, Sketch", "rate":"$ 1,200 USD"}];
include mixins
main
    include header
    .content
        form.filters
            .filters__filter
                p.filters__filter--text location
                img.filter__location(src="../img/location.svg")
                select.filter__select
                    option
            .filters__filter
                p.filters__filter--text category
                select.filter__select
                    option Category
            .filters__filter
                p.filters__filter--text subcategory
                select.filter__select
                    option Subcategory
            .filters__filter
                p.filters__filter--text service
                select.filter__select
                    option 3 services
            .filters__filter
                p.filters__filter--text period
                input.filter__select
            button.filters__button SEARCH
        .separator
        article.results
            .results__sort
                a.results__map(href="#") Show map
                .sort__items.list--active
                    .pretty.p-default.p-round.p-thick
                        input(type="radio" name="radio1" checked)
                        .state.p-success-o
                            label.items__text by price
                    .pretty.p-default.p-round.p-thick
                        input(type="radio" name="radio1")
                        .state.p-success-o
                            label.items__text by rating
            .results__list.list--active
                each use in users
                    +users(use)
            .map
                iframe(src='https://snazzymaps.com/embed/173785', width='100%', height='100%', style='border:none;')
script(type='text/javascript', src='./js/search.js')