include mixins
nav.sidebar
    -const barIcons = [{"name":"messenger.pug.pug","photo":"../img/search_act.svg","active":true},{"name":"profile","photo":"../img/my_profile_nonact.svg"},{"name":"message","photo":"../img/messages_nonact.svg"},{"name":"notification","photo":"../img/notification.svg"}]
        li.sidebar__logo
            a(href='#')
                img(src='../img/profile_logo.svg', alt='logo')
        each ico in barIcons
            +icons(ico)