@import "mixins";
@import "variables";
/*----------------------------------------content----------------------------------------*/

.content {
  display: flex;
  background-color: #F7F9FC;
  box-shadow: 0 5px 5px rgba(190, 200, 212, 0.1), 0 -5px 5px rgba(224, 224, 224, 0.1);
  border-radius: 4px;
  margin: 44px 46px 0 122px;
  height: 72vh;
  border: 1px solid #EDF0F4;
  @include for-tablet-landscape-up{
    margin-left: 0px;
    margin-right: 0px;
  }
}

.chats {
  width: 400px;
  background-color: #fff;
  float: left;
  border-right: 1px solid #f5f6f9;
  box-sizing: border-box;
  overflow-y: scroll;
  @include for-tablet-landscape-up{
    width: 100px;
    overflow-x: hidden;
  }
}

.chat__name, .chat__content, .chat__mute{
  @include for-tablet-landscape-up{
    display: none;
  }
}

.chat {
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  height: 100px;
  cursor: pointer;
}

.chat__photo {
  width: 50px;
  height: 50px;
}

.chat__name {
  position: absolute;
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  top: 25px;
  left: 80px;
  font-size: 16px;
  color: #01134e;
}

.chat__mute {
  position: absolute;
  top: 28px;
  left: 185px;
}

.chat__time {
  position: absolute;
  right: 14px;
  top: 14px;
  color: #9ba0ad;
  font-size: 12px;
}

.chat__message {
  position: absolute;
  top: 50px;
  left: 80px;
  color: #252f48;
  font-size: 14px;
  opacity: 0.43;
}

.chat--active {
  box-shadow: 0px 5px 5px rgba(190, 200, 212, 0.2), 0px -5px 5px rgba(224, 224, 224, 0.15);
}

/*----------------------------------------messages----------------------------------------*/

.messages {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  width: 100%;
}

/*----------------------------------------search----------------------------------------*/

.search {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #f5f6f9;
}

.search__icon {
  margin-right: 22px;
  margin-left: 18px;
  cursor: pointer;
  padding: 25px 0px;
}

.search__input {
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  width: 100%;
  &::placeholder {
    color: rgba(37, 47, 72, 0.2);
  }
}

/*----------------------------------------send-field----------------------------------------*/

.message__date p {
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  opacity: .5;
  padding-top: 3%;
  padding-bottom: 2%;
  color: rgba(37, 47, 72, 0.5);
}

.send-field {
  box-shadow: 0px 0px 20px rgba(153, 163, 174, 0.14654);
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid #f5f6f9;
}

.send-field__input {
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-left: 31px;
  width: 100%;
}

.send-field__image {
  margin-right: 22px;
  margin-left: 18px;
  cursor: pointer;
  padding: 30px 0px;

}

.send-field__input::placeholder {
  color: rgba(37, 47, 72, 0.2);
}

.send-field__button {
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(153, 163, 174, 0.25926);
  border-radius: 7px;
  padding: 0px 10px;
  margin: 21px;
  border: none;
  outline: none;
}

/*----------------------------------------message-field----------------------------------------*/

.message-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: scroll;
}

.message {
  min-height: 90px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

.message__friend, .message__user {
  margin-bottom: 11px;
  margin-top: 11px;

}

.message__friend {
  display: flex;
  align-items: flex-end;
  max-width: 600px;
  margin-right: 20px;
  @include for-phone-only{
    margin-left: 20px;
  }
}

.message__user {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  @include for-phone-only{
    margin-left: 20px;
  }
}

.message__content {
  display: flex;
  position: relative;
  width: auto;
  background-color: #f7f9fc;
  border-radius: 5px;
}

.message__friend .message__content::before {
  content: "";
  position: absolute;
  left: -10px;
  bottom: 0px;
  border: 7px solid transparent;
  border-right: 7px solid #f7f9fc;
  border-bottom: 7px solid #f7f9fc;
}

.message__user .message__content::after {
  content: "";
  position: absolute;
  right: -10px;
  bottom: 0px;
  border: 7px solid transparent;
  border-bottom: 7px solid #f7f9fc;
  border-left: 7px solid #f7f9fc;
}

.message__photo {
  margin-left: 21px;
  margin-right: 11px;
  width: 36px;
  height: 36px;
  @include for-phone-only{
    display: none;
  }
}

.message__text {
  padding: 20px 40px 20px 20px;
  color: #222428;
  //width: 330px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  word-break: break-word;
}

.message__time {
  position: absolute;
  right: 3%;
  color: #9ba0ad;
  font-size: 12px;
  padding-bottom: 10px;
  bottom: 0%;
}

/*----------------------------------------scroll----------------------------------------*/

.message-field {
  &::-webkit-scrollbar {
    width: 8px;
    background: #fdfeff;
    mix-blend-mode: normal;
    border-radius: 4px;
    margin: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #e7edfa;
    border-radius: 4px;
  }
}

.chats {
  &::-webkit-scrollbar {
    width: 4px;
    background: #fdfeff;
    mix-blend-mode: normal;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #edf2ff;
    border-radius: 2px;
  }
}