@import "reset";
@import "variables";
@import "mixins";

body {
  background: #F9FAFC;
  font-family: "Roboto", $font-stack;
  width: 100vw;
  height: 100vh;
}

.color-logo path {
  @include for-tablet-landscape-up {
    fill: #2A74DB;
  }
}

.content {
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(153, 163, 174, 0.06);
  border-radius: 4px;
  margin: 62px 124px 0px 142px;
  height: 72vh;
  padding: 41px 61px 0px 44px;
  @include for-tablet-landscape-up {
    margin-left: 4px;
    margin-right: 4px;
  }
  @include for-tablet {
    overflow-y: scroll;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 10px;
    flex-direction: column;
    height: 80vh;
    padding: 20px 12% 0px 12%;
  }
  @include for-mini-phone {
    padding: 20px 10px 0px 10px;
  }
}

.content {
  &::-webkit-scrollbar {
    width: 6px;
    background: #F5F7FA;
    mix-blend-mode: normal;
    border-radius: 4px;
    margin: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #E0E6F0;
    border-radius: 4px;
  }
}


.filters {
  display: flex;
  flex-direction: column;
  margin-right: 3.5%;
  width: 21%;
  @include for-tablet-landscape-up {
    width: 30%;
  }
  @include for-tablet {
    width: 100%;
  }
}

.filters__filter {
  width: 100%;
}

.filters__filter--text {
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #546087;
}


.filter__location {
  position: absolute;
  margin-top: 11px;
  margin-left: 5px;
  @include for-tablet {
    display: none;
  }
}

.filter__select {
  background: #FCFCFC;
  border: 2px solid #F2F2F2;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  height: 40px;
  padding-left: 14px;
  margin-bottom: 24px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.filter__select:focus {
  background-color: #fff;
  border-left: 2px solid #2A74DB;
}

.filters__button {
  width: 100%;
  height: 42px;
  background: #0AD69C;
  border-radius: 2px;
  font-size: 16px;
  font-family: "Exo 2", sans-serif;
  color: #fff;
  border: none;
  cursor: pointer;
}

.separator {
  border: 1px solid #E7EAF5;
  box-shadow: 7px 0px 18px rgba(85, 85, 85, 0.25);
  margin-bottom: 46px;
  @include for-tablet {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.results {
  display: flex;
  flex-direction: column;
  width: 74%;
  margin-left: 3.5%;
  @include for-tablet-landscape-up {
    width: 64%;
  }
  @include for-tablet {
    width: 100%;
    margin: 0;
  }
}

.results__sort {
  display: flex;
  justify-content: space-between;
}

.list--active {
  display: flex !important;
}

.results__map, .results__results {
  display: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.28px;
  text-transform: uppercase;

  color: #01134E;
  align-self: center;
}

.sort__items {
  display: none;
  justify-content: space-around;
}

.state {
  display: flex;
}

.items__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  /* or 200% */
  letter-spacing: -0.046704px;

  color: #000000;
}

.results__list {
  overflow-y: scroll;
  display: none;
  flex-wrap: wrap;
  margin-top: 25px;
  height: 82%;
  @include for-desktop-up {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  @include for-tablet {
    overflow-y: inherit;
  }
}

.results__list {
  &::-webkit-scrollbar {
    width: 6px;
    background: #F5F7FA;
    mix-blend-mode: normal;
    border-radius: 4px;
    margin: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #E0E6F0;
    border-radius: 4px;
  }
}

.list__item {
  display: flex;
  background: #FFFFFF;
  border: 1px solid rgba(237, 237, 237, 0.2);
  box-sizing: border-box;
  box-shadow: -2px 9px 30px rgba(23, 31, 76, 0.02);
  border-radius: 2px;
  width: 46%;
  height: max-content;
  padding: 18px 27px 33px 18px;
  margin-right: 18px;
  margin-bottom: 18px;
  @include for-desktop-up {
    width: 100%;
    margin: 0 0 10px;
  }
}

.item__photo {
  border-radius: 100%;
  align-self: flex-start;
}

.item__info {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  width: 100%;
}

.item__name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  letter-spacing: -0.046704px;

  color: #000000;
}

.item__location, .item__stack, .item__price {
  display: flex;
}

.item__stack {
  justify-content: space-between;
}

.item__text {
  margin-left: 2px;
  align-self: center;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */
  letter-spacing: -0.046704px;

  color: #000000;
}

.item__bold--text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  /* or 200% */

  letter-spacing: -0.046704px;

  color: #01134E;
}

.item__more {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */
  align-self: center;
  margin-left: 1px;
  letter-spacing: -0.046704px;
  color: #2A74DB;
}

.map {
  display: none;
  margin-top: 25px;
  height: 60vh;
}

.wifi {
  margin-right: 10%;
}

.input__radio {
  width: 100px;
}

input[type=radio] {
  display: none;
}

input[type=radio] + label:before {
  content: "\26AB";
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #F0F1F3;
  line-height: 20px;
  margin: -5px 5px 0 0;
  height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  font-size: 0;
  transition: font-size ease .3s;

}

input[type=radio]:checked + label:before {
  color: #0AD69C;
  font-size: 10px;
}

@import "sidebar";
@import "burger/hamburger";
@import "header";