@import "reset";
@import "mixins";
body{
  background: #F9FAFC;
  overflow-y: hidden;
}
a{
  text-decoration: none;
  color: inherit;
}
header{
  display: flex;
  justify-content: space-between;
  @include for-mini-phone {
    flex-direction: column;
    align-items: center;
  }
}
header a {
  padding-left: 5px;
}
.sign-logo{
  margin-top: 20px;
  margin-left: 140px;
  height: 40px;
  width: 138px;
  @include for-tablet-landscape-up{
    margin-left: 30px;
  }
  @include for-phone-only{
    margin-top: 10px;
    margin-left: 5px;
  }
}
.goto{
  margin-top: 32px;
  margin-right: 137px;
  display: flex;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.28px;
  color: #222428;

  @include for-tablet-landscape-up{
    margin-right: 30px;
  }
  @include for-phone-only{
    margin-top: 22px;
    margin-left: 5px;
  }
  @include for-mini-phone{
    margin-top: 10px;
    margin-left: 0px;
  }
}
.goto a{
  font-weight: bold;
  color: #131ee2;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.content{
  margin-top: 60px;
  width: 44%;
  height: 416px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 5px 40px rgba(0, 45, 113, 0.06);
  border-radius: 10px;
  @include for-tablet-landscape-up{
    width: 70%;
  }
  @include for-phone-only{
    margin-top: 10px;
    width: 80%;
  }
  @include for-mini-phone{
    margin-top: 10px;
    width: 95%;
  }
}
form{
  width: 65%;
  display: flex;
  flex-direction: column;
  @include for-tablet-landscape-up{
    width: 70%;
  }
  @include for-phone-only{
    width: 80%;
  }
  @include for-mini-phone{
    width: 95%;
  }
}

.form__input{
  background-color: #FCFCFC;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  height: 40px;
  padding-left: 14px;
  margin-bottom: 24px;
  border: 2px solid #F2F2F2;
  border-radius: 2px;
  outline: none;
}
.form__input:focus {
  background-color: #fff;
  border-left: 2px solid #2A74DB;
}
.form__headline{
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.4px;
  color: #002396;
  margin-bottom: 25px;
}
.form__help{
  align-self: flex-end;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.28px;
  margin-top: -10px;
  color: #222428;
}

.form__input::placeholder{
  color: rgba(135, 144, 167, 0.57);
}
.form__button{
  align-self: flex-end;
  width: 47%;
  height: 42px;
  background-color: #0AD69C;
  font-size: 16px;
  font-family: "Exo 2", sans-serif;
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 14px;
  @include for-phone-only{
    align-self:center;
  }
  @include for-mini-phone{
    align-self:center;
  }
}

.form__user {
  display: flex;
}
.form__user .form__input {
  width: 47.5%;
}
.form__user .form__input:first-child {
  margin-right: 5%;
}

.ellipse{
  z-index: -100;
  margin-top: 300px;
  position: absolute;
  @include for-tablet-landscape-up{
    margin-top: 230px;
  }
}
.mail{
  width: 150px;
  height: 170.83px;
  margin-top: 210px;
  @include for-tablet-landscape-up{
    margin-top: 160px;
  }
}
.verify_headline{
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.4px;

  color: #2A74DB;
  margin-top: 360px;
  @include for-tablet-landscape-up{
    margin-top: 320px;
    font-size: 45px;
  }
  @include for-phone-only{
    font-size: 33px;
  }
  @include for-mini-phone{
    line-height: inherit;
  }
}
.verify_help{
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.4px;

  color: #000000;
  margin-top: 410px;
  @include for-tablet-landscape-up{
    margin-top: 380px;
  }
  @include for-phone-only{
    font-size: 16px;
  }
  @include for-mini-phone{
    line-height: inherit;
  }
}

.form__headline--sign-up{
  margin-bottom: 17px;

  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.4px;

  color: #01134E;
}

.state{
   font-family: Roboto, sans-serif;
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: 16px;
   /* identical to box height */
   letter-spacing: 0.28px;
   color: #222428;
 }

.state a{
  padding-left: 5px;
  color: #131ee2;
}
.pretty{
  margin-bottom: 10px;
}
.complexity{
  height: 6px;
  justify-content: space-between;
  margin-top: -20px;
  margin-bottom: 20px;
  display: none;
}
.active{
  display: flex;
}
.complexity__item{
  width: 32%;
  height: 6px;
  background-color: #F2F2F2;
  border-radius: 2px;
}
.complexity__item--bad {
  background: #FF6359;
}

.complexity__item--good {
  background: #FFB966;
}

.complexity__item--perfect {
  background: #38ECAC;
}