include mixins
main
    include header
    .content
        article.chats
            -const users = [{"name":"Miranda Hops","status":"Excepteur sint occaecatar…","time":"9:32","photo":'../img/miranda.svg',"mute":true},{"name":"Barry Callebaut","status":"Nemo enim ipsam volupta…","time":"22:01","photo":'../img/barry.svg'},{"name":"Stacey Dosh","status":"Ut enim ad minima veniam…","time":"19:15","photo":'../img/stacey.svg',"active":true},{"name":"Michael Kors","status":"To take a trivial example…","time":"13:49","photo":'../img/michael.svg'},{"name":"Johny Cash","status":"Great explorer of the truth…","time":"10:25","photo":'../img/johny.svg'},{"name":"Stacey Dosh","status":"Ut enim ad minima veniam…","time":"9:32","photo":'../img/stacey2.svg'}]
            each user in users
                +friend(user)
        article.messages
            .search
                img.search__icon(src='../img/search.svg')
                input.search__input(type='text', placeholder='Search message...')
            .message-field
                article.message
                    section.message__date
                        p Today, 17.03.2018
                    -const messagesInChat = [{"photo":"../img/stacey.svg","text":"On the other hand, we denounce with righteous indignation!","time":"01:14","user":false},{"text":"Which is the same as saying?","time":"01:38","user":true},{"photo":"../img/stacey.svg","text":"But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures","time":"02:05"},{"text":"To take a trivial example, which of us ever undertakes)","time":"03:25","user":true},{"photo":"../img/stacey.svg","text":"But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures","time":"02:05","user":false},{"photo":"../img/stacey.svg","text":"But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures","time":"02:05","user":false},{"photo":"../img/stacey.svg","text":"But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures","time":"02:05","user":false},{"text":"To take a trivial example, which of us ever undertakes)","time":"03:25","user":true}]
                    each users in messagesInChat
                        +message(users)
            article.send-field
                input.send-field__input(type='text', placeholder='Write a message...')
                a.send-field__image(href='#')
                    img(src='../img/smile.svg')
                a.send-field__image(href='#')
                    img(src='../img/clip.svg')
                button.send-field__button(type='button')
                    img(src='../img/send.svg')
