header
    .hamburger.hamburger--squeeze
        .hamburger-box
            .hamburger-inner
    .breadcrumb
        li.sidebar__logo--phone
            a(href='#')
                img(src='../img/logo.svg', alt='logo')
        a.breadcrumb__item(href='#') Home
        img.breadcrumb__separator(src='../img/right-arrow.svg', alt='right arrow')
        a.breadcrumb__item(href='#') Network
    .profile
        img.profile__photo(src='../img/sara.svg', alt='profile photo')
        span.profile__name Sarah Freeman
        i.fas.fa-chevron-down