include mixins
nav.sidebar
    -const barIcons = [{"name":"notification","photo":"../img/notification.svg","someElse":true},{"name":"profile","photo":"../img/my_profile_nonact.svg"},{"name":"settings","photo":"../img/settings.svg"},{"name":"people","photo":"../img/team.svg"},{"name":"message","photo":"../img/messages_act.svg","active":true}]
        li.sidebar__logo
            a(href='#')
                img(src='../img/logo.svg', alt='logo')
        each ico in barIcons
            +icons(ico)