main
    include header
    .content
        form
            .headline
                a.headline__personal.headline__active(href="#") PERSONAL INFORMATION
                a.headline__account.headline__nonact(href="#") ACCOUNT INFORMATION
            .underline
                .underline__personal.underline__active
                .underline__account.underline__nonact
            .user__personal.personal-active
                .user__img
                    img.user__img--photo(src="../img/faruh.svg")
                    .user__img--change
                        img.change__photo(src="../img/pen2.svg")
                        a.change__text(href="#") Change photo
                .user__change
                    .form__user
                        .change__form
                            p.change__form--text FIRST NAME
                            input.form__input(type="text" value="Faruh")
                        .change__form
                            p.change__form--text LAST NAME
                            input.form__input(type="text" value="Bernandez")
                    .form__user
                        .change__form
                            p.change__form--text TITLE
                            select.form__input
                                option Mr
                        .change__form
                            p.change__form--text MOBILE PHONE
                            .mobile__form
                                select.mobile__select
                                    option
                                input.mobile__input(type="text")
                    .form__user
                        .change__form
                            p.change__form--text COUNTRY
                            img.user__location(src="../img/location.svg")
                            select.form__input
                                option
                        .change__form
                            p.change__form--text COMPANY
                            input.form__input(type="text")
            .user__account
                .user__change
                    .form__user
                        .change__form
                            p.change__form--text username
                            input.form__input(type="text" value="sarahbarnes")
                        .change__form
                            p.change__form--text e-mail
                            input.form__input(type="mail" value="sarahbbb@gmail.com")
                .account__change
                    a.account__change--text(href="../sign-in") change password
                    img.account__separator(src='../img/profile_arrow.svg', alt='right arrow')
script(type='text/javascript', src='./js/profile.js')